{% extends 'adminlte/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <!-- left column -->
            <div class="col-md-10">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Cadastro de Paciente</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">Save changes</button>

                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
{% endblock %}

